.navbar-item a{
    &:hover {
      text-decoration: underline;
      text-underline-offset: 80%;
      transition: text-decoration 0.9s ease-out;
      background-color: white;
    }
  }
  
  .navbar-item.is-primary {
    &:hover {
      background-color: transparent; /* Remove default gray background */
    }
  }
  
  .navbar-item.is-active {
    text-decoration: underline;
    text-underline-offset: 80%;
  }
  
  .navbar-menu {
    .navbar-start {
      justify-content: center; /* Center align menu items */
    }
  }
  
  .navbar-end {
    .button {
      margin-left: 10px; /* Adjust spacing between button and search icon */
    }
  }
  