<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <ul class="navbar-item">
        {% for item in site.html_pages %}
          {% unless item.title == false or item.url contains "/page" or item.url contains "/404.html" %}
            <li class="navbar-item {% if item.url == page.url %} is-active{% endif %}">
              {% if item.url contains '://' %}
                {% assign url = item.url %}
              {% else %}
                {% assign url = item.url | relative_url %}
              {% endif %}
              {% if item.collectionpage %}
                {% assign collectiondata = site.collections | where: "label", item.collectionpage | first %}
                <a href="{{ url }}" class="has-text-weight-semibold">{{ collectiondata.title }}</a>
              {% else %}
                <a href="{{ url }}" class="has-text-weight-semibold">{{ item.title }}</a>
              {% endif %}
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
