<footer class="footer has-background-light py-6">
  <div class="container">
    <div class="columns is-multiline">
      {% if site.navigation_footer %}
        {% assign items_per_column = site.navigation_footer | size | divided_by: 4 | ceil %}
        {% for column in (0..3) %}
          <div class="column is-one-quarter">
            <nav class="menu">
              <p class="menu-label has-text-weight-bold has-text-primary">Section {{ column | plus: 1 }}</p>
              <ul class="menu-list">
                {% for item in site.navigation_footer offset: column | times: items_per_column limit: items_per_column %}
                  {% if item.url contains '://' %}
                    {% assign url = item.url %}
                  {% else %}
                    {% assign url = item.url | relative_url %}
                  {% endif %}
                  <li>
                    <a 
                      class="has-text-weight-medium has-text-link" 
                      href="{{ url }}">
                      {{ item.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        {% endfor %}
      {% else %}
        <div class="column">
          {% include nav-default.html %}
          {% include search.html %}
        </div>
      {% endif %}
    </div>

    <!-- Footer Bottom -->
    <div class="has-text-centered pt-4">
      <p class="is-size-7 has-text-grey">
        &copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
