---
layout: default
---

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <aside class="menu">
          <p class="menu-label">Course Navigation</p>
          <ul class="menu-list">
            {% for section in site.data.course_navigation %}
              <li>
                <a><i class="{{ section.icon }}"></i> {{ section.section }}</a>
                <ul>
                  {% for lesson in section.lessons %}
                    <li>
                      <a href="{{ lesson.link }}">
                        <i class="{{ lesson.icon }}"></i> {{ lesson.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="column">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>
