<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <!-- General meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.indexing == false %}
  <meta name="robots" content="noindex">
  {% endif %}
  {% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  <title>{{ collectiondata.title }} - {{ site.title }}</title>
  <meta property="og:title" content="{{ collectiondata.title }}">
  <meta name="description" content="{{ collectiondata.description }}">
  <meta property="og:description" content="{{ collectiondata.description }}">
  {% else %}
  {% seo %}
  {% endif %}
  {% if site.fonts.preconnect_urls %}
  {% for url in site.fonts.preconnect_urls %}
  <link rel="preconnect" href="{{ url }}" crossorigin />
  {% endfor %}
  {% endif %}

  <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
  <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
  <link rel="stylesheet" href="{{ site.url }}/assets/style.css">
  {% if site.favicons or site.avatarurl %}{% include site-favicons.html %}{% endif %}
  {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}
  {% include site-fonts.html %}
  {% include site-before-start.html %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="layout-{{ page.layout | default: 'default' }}{% if page.title %} {{ page.title | slugify }}{% endif %}">

  <!-- Mobile Navbar -->
  <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        {{ site.title }}
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/training">
          Training
        </a>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <aside class="menu">
            <p class="menu-label">{{ site.training.name }}</p>
            <button class="button is-small is-pulled-right" onclick="window.location.href='/training'">
              <span class="icon is-small"><i class="fas fa-times"></i></span>
            </button>
            <ul class="menu-list">
              {% for section in site.data.course_navigation.sections %}
                <li>
                  <a class="has-dropdown is-hoverable">
                    <i class="{{ section.icon }}"></i> {{ section.section }}
                  </a>
                  <ul>
                    {% for lesson in section.lessons %}
                      <li>
                        <a href="{{ lesson.link }}">
                          <i class="{{ lesson.icon }}"></i> {{ lesson.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </aside>
        </div>
        <div class="column">
          <div class="content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const burger = document.querySelector('.navbar-burger');
      const menu = document.querySelector('.navbar-menu');

      burger.addEventListener('click', () => {
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
      });
    });
  </script>
</body>
</html>
