---
layout: default
---

<div class="columns is-gapless">
  <!-- Video Section -->
  <div class="column">
    <figure class="image is-16by9">
      <iframe
        class="has-ratio"
        width="640"
        height="360"
        src="{{ page.video_url }}?start={{ page.start_time }}&end={{ page.end_time }}"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </figure>

    <div class="tabs">
      <ul>
        <li class="is-active"><a>Overview</a></li>
        <li><a>Q&A</a></li>
        <li><a>Notes</a></li>
        <li><a>Announcements</a></li>
      </ul>
    </div>
  </div>

  <!-- Course Navigation -->
  <div class="column is-one-quarter is-scroll-column left-shadowed">
    <div class="card">
      {% for section in site.data.training.sections %}
      <header class="card-header">
        <p class="card-header-title">
          {{ section.title }}
        </p>
        <button class="button is-medium is-white" aria-label="toggle menu">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <nav class="panel">
          {% for lesson in section.lessons %}
          <a href="/training/section{{ section.number }}/lesson-{{ lesson.lesson | replace: '.', '-' }}/" class="panel-block">
            <span class="panel-icon">
              {% if page.lesson == lesson.lesson %}
              <i class="fas fa-check-circle"></i>
              {% else %}
              <i class="far fa-circle"></i>
              {% endif %}
            </span>
            {{ lesson.title }}
          </a>
          {% endfor %}
        </nav>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="buttons is-centered">
    {% assign current_lesson = page.lesson %}
    {% assign section_index = site.data.training.sections | where: "number", page.section | first %}
    {% for lesson in section_index.lessons %}
      {% if lesson.lesson == current_lesson %}
        {% if forloop.first == false %}
          <a href="/training/section{{ page.section }}/lesson-{{ section_index.lessons[forloop.index0].lesson | replace: '.', '-' }}/" class="button is-link is-light">Previous Lesson</a>
        {% endif %}
        {% if forloop.last == false %}
          <a href="/training/section{{ page.section }}/lesson-{{ section_index.lessons[forloop.index].lesson | replace: '.', '-' }}/" class="button is-link is-light">Next Lesson</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LearningVideo",
  "name": "{{ page.title }}",
  "description": "{{ page.description }}",
  "contentUrl": "{{ page.video_url }}",
  "timeRequired": "{{ page.end_time | minus: page.start_time }} seconds",
  "educationalLevel": "Beginner",
  "educationalUse": "Self-study"
}
</script>
