<section class="py-6">
  <div class="container mb-6">
      <div class="columns is-centered mb-6">
          <div class="column is-8 has-text-centered">
              <!-- caption -->
              <span class="has-text-primary mb-3 is-uppercase has-text-weight-semibold is-size-6">Why Learn with Geeks</span>
              <h2 class="mb-2 is-size-3 has-text-weight-bold">Build better skills, faster</h2>
              <p class="is-size-5 mb-0">Explore new skills, deepen existing passions, and get lost in creativity. What you find just might surprise and inspire you.</p>
          </div>
      </div>
      <!-- row -->
      <div class="columns is-multiline">
          <div class="column is-12-mobile is-6-tablet is-3-desktop">
              <!-- features -->
              <div class="box has-text-centered">
                  <!-- icon -->
                  <div class="is-size-3 has-text-primary">
                      <i class="fas fa-cogs"></i>
                  </div>
                  <!-- para -->
                  <div class="mt-4">
                      <h3 class="is-size-5 has-text-weight-semibold">Learn the latest skills</h3>
                      <p class="is-size-6 mb-0">Lorem ipsum dolor sit amet, lorem consectetur adipiscing elit.</p>
                  </div>
              </div>
          </div>
          <div class="column is-12-mobile is-6-tablet is-3-desktop">
              <!-- features -->
              <div class="box has-text-centered">
                  <!-- icon -->
                  <div class="is-size-3 has-text-primary">
                      <i class="fas fa-user"></i>
                  </div>
                  <!-- para -->
                  <div class="mt-4">
                      <h3 class="is-size-5 has-text-weight-semibold">Get ready for a career</h3>
                      <p class="is-size-6 mb-0">Pellentesque eu mi rhoncus, rhoncus tortor a, interdum nisi.</p>
                  </div>
              </div>
          </div>
          <div class="column is-12-mobile is-6-tablet is-3-desktop">
              <!-- features -->
              <div class="box has-text-centered">
                  <!-- icon -->
                  <div class="is-size-3 has-text-primary">
                      <i class="fas fa-trophy"></i>
                  </div>
                  <!-- para -->
                  <div class="mt-4">
                      <h3 class="is-size-5 has-text-weight-semibold">Earn a Certificate</h3>
                      <p class="is-size-6 mb-0">Quisque tempus lectus cursus, imperdiet eros vel, pulvinar arcu.</p>
                  </div>
              </div>
          </div>
          <div class="column is-12-mobile is-6-tablet is-3-desktop">
              <!-- features -->
              <div class="box has-text-centered">
                  <!-- icon -->
                  <div class="is-size-3 has-text-primary">
                      <i class="fas fa-users"></i>
                  </div>
                  <!-- para -->
                  <div class="mt-4">
                      <h3 class="is-size-5 has-text-weight-semibold">Upskill your organization</h3>
                      <p class="is-size-6 mb-0">Etiam dignissim est tristique ex porta, bibendum commodo.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
