<div class="container hero-content">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <h1 class="hero-title">{{page.title}}</h1>
        <p class="hero-subtitle">{{ page.description }}</p>
        <div class="hero-buttons is-justify-content-start">
          <a href="{{ page.button_primary_link }}" class="button is-primary">{{ page.button_primary_text }}</a>
          <a href="{{ page.button_secondary_link }}" class="button is-light is-outlined">{{ page.button_secondary_text }} </a>
        </div>
        <div class="student-avatars">
          <img src="https://via.placeholder.com/50" alt="Student 1" class="student-avatar">
          <img src="https://via.placeholder.com/50" alt="Student 2" class="student-avatar">
          <img src="https://via.placeholder.com/50" alt="Student 3" class="student-avatar">
          <img src="https://via.placeholder.com/50" alt="Student 4" class="student-avatar">
          <span class="students-text">Join 1,000+ Students Enrolled</span>
        </div>
      </div>
      <div class="column is-half has-text-centered">
        <figure>
          <img src="{{ page.image }}" alt="{{page.title}}" class="hero-image">
        </figure>
      </div>
    </div>
  </div>