<section class="section">
    <div class="container">
      <!-- Heading Section -->
      <div class="columns is-multiline">
        <div class="column is-half">
          <h2 class="title is-2">Our Team</h2>
          <p class="subtitle is-5">
            Want to work with some of the best global talent and build a tool used by all the companies you know and love? Join the team and help shape the future of design.
          </p>
          <a href="#" class="button is-primary">Openings</a>
        </div>
      </div>
  
      <!-- Team Members Section -->
      <div class="columns is-multiline">
        <div class="column is-2 has-text-centered">
          <div>
            <figure class="image is-128x128 is-inline-block">
              <img class="is-rounded" src="/assets/logos/logo.svg" alt="Paul Haney">
            </figure>
            <p class="has-text-weight-bold mt-2">Paul Haney</p>
            <p class="is-size-7">CEO</p>
          </div>
        </div>
  
        <div class="column is-2 has-text-centered">
          <div>
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="/assets/logos/logo.svg" alt="Paul Haney">
            </figure>
            </figure>
            <p class="has-text-weight-bold mt-2">Gail Lanier</p>
            <p class="is-size-7">Engineering</p>
          </div>
        </div>
  
        <div class="column is-2 has-text-centered">
          <div>
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="/assets/logos/logo.svg" alt="Paul Haney">
            </figure>
            </figure>
            <p class="has-text-weight-bold mt-2">Gail Lanier</p>
            <p class="is-size-7">Manager</p>
          </div>
        </div>
  
        <div class="column is-2 has-text-centered">
          <div>
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="/assets/logos/logo.svg" alt="Paul Haney">
            </figure>
            </figure>
            <p class="has-text-weight-bold mt-2">Mary Holler</p>
            <p class="is-size-7">Sales</p>
          </div>
        </div>
  
        <div class="column is-2 has-text-centered">
          <div>
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="/assets/logos/logo.svg" alt="Paul Haney">
            </figure>
            </figure>
            <p class="has-text-weight-bold mt-2">Gilbert Farr</p>
            <p class="is-size-7">Operator</p>
          </div>
        </div>
  
        <div class="column is-2 has-text-centered">
          <div>
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="/assets/logos/logo.svg" alt="Paul Haney">
            </figure>
            </figure>
            <p class="has-text-weight-bold mt-2">Charlie Holland</p>
            <p class="is-size-7">Designer</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  